<div class="container">
  <!-- <input type="text" [(ngModel)]="searchData" placeholder="Search food by name">
  <input type="number" [(ngModel)]="minPrice" placeholder="Minimum Price">
  <input type="number" [(ngModel)]="maxPrice" placeholder="Maximum Price">
  <button (click)="resetFilters()">Reset</button> -->

  <!-- <div *ngIf="filteredFoods().length === 0">No foods are available.</div> -->

  <ul *ngIf="foods.length!=0">
    <li *ngFor="let food of foods">
      <p>{{ food.foodName }}</p>
      <p>Price: ${{ food.price }}</p>
      <p>Stock: {{ food.stockQuantity === 0 ? 'Out of Stock' : food.stockQuantity }}</p>
      <button *ngIf="food.stockQuantity > 0" [routerLink]="['/user/makeOrder',food.foodId]">Make Order</button>
    </li>
  </ul>
</div>