<div class="order-form">
    <h2>Confirm Your Order</h2>
  
    <label>Food Name:</label>
    <input type="text" [value]="food?.foodName" disabled>
  
    <label>Quantity:</label>
    <div class="quantity-controls">
      <button (click)="decreaseQuantity()" [disabled]="quantity<=1">-</button>
      <span style="font-weight: bold;" >{{ quantity }}</span>
      <button (click)="increaseQuantity()" [disabled]="quantity>=food?.stockQuantity">+</button>
    </div>
  
    <label>Total Price:</label>
    <input type="text" [value]="totalAmount | currency" disabled>
  
    <div class="btn-group">
      <button class="confirm-btn" (click)="createOrder()">Confirm Order</button>
      <button class="cancel-btn" (click)="cancelOrder()">Cancel</button>
    </div>
  </div>
  
  <div *ngIf="orderPlaced"  class="popup" class="overlay" >
    <div class="content-popup"  >
      <h3>Order Placed Successfully!</h3>
      <p>Your order has been Confirmed</p>
      <button (click)="closePopup()" >Ok</button>
    </div>
  </div>



  