<div class="order-form">
    <h2>Confirm Your Order</h2>
  
    <label>Food Name:</label>
    <input type="text" [value]="food?.foodName" disabled>
  
    <label>Quantity:</label>
    <div class="quantity-controls">
      <button (click)="decreaseQuantity()" [disabled]="quantity<=1">-</button>
      <span style="font-weight: bold;" >{{ quantity }}</span>
      <button (click)="increaseQuantity()" [disabled]="quantity>=food?.stockQuantity">+</button>
    </div>
  
    <label>Total Price:</label>
    <input type="text" [value]="totalAmount | currency:'INR' " disabled>
  
    <div class="btn-group">
      <button class="confirm-btn" (click)="isAddressPopupVisible = true">Confirm Order</button>
      <button class="cancel-btn" (click)="cancelOrder()">Cancel</button>
    </div>
  </div>

  <div *ngIf="isAddressPopupVisible" class="popup-modal">
    <div class="popup-content">
      <h3>Enter Your Address</h3>
      <textarea [(ngModel)]="userAddress" rows="3" placeholder="Enter your address"></textarea>
      <div class="popup-actions">
        <button (click)="saveAddress()">Save</button>
        <button (click)="closeAddressPopup()">Close</button>
      </div>
    </div>
  </div>

 <!-- Success Popup -->
<div *ngIf="isSuccessPopupVisible" class="popup-modal">
  <div class="popup-content success"> <!-- Add the 'success' class -->
    <h3>Success</h3>
    <p>{{ successMessage }}</p>
    <button (click)="closeSuccessPopup()">OK</button>
  </div>
</div>

  
  <div *ngIf="orderPlaced"  class="popup" class="overlay" >
    <div class="content-popup"  >
      <h3>Order Placed Successfully!</h3>
      <p>Your order has been Confirmed</p>
      <button (click)="closePopup()" >Ok</button>
    </div>
  </div>



  