<div class="feedback-container">
  <h2>My Feedback</h2>

  <!-- Dropdown for filtering by rating -->
  <div class="filter-container">
    <div>
      <label for="ratingFilter">Filter by Rating:</label>
      <select id="ratingFilter" [(ngModel)]="selectedRating" (change)="filterByRating()">
        <option value="" [selected]="selectedRating === '' ">All Ratings</option>
        <option value="1">1 Star</option>
        <option value="2">2 Stars</option>
        <option value="3">3 Stars</option>
        <option value="4">4 Stars</option>
        <option value="5">5 Stars</option>
      </select>
    </div>
    <div>
      <button (click)="sortByRating()">Sort by Rating</button>
    </div>
  </div>

  <div *ngIf="loading" class="spinner">
    <div class="foodImages">
      <div class="food">🍎</div>
      <div class="food">🍩</div>
      <div class="food">🍕</div>
    </div>
    <div class="loading-text">
      Fetching Feedbacks ...
    </div>
  </div>

  <div *ngIf="filteredFeedbacks.length === 0 && !loading ">
    <p>Oops! No records found</p>
  </div>

  <table *ngIf="filteredFeedbacks.length > 0">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Feedback</th>
        <th>Food Name</th>
        <th>Rating</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feedback of filteredFeedbacks; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ feedback.feedbackText }}</td>
        <td>{{ feedback.food?.foodName }}</td>
        <td>{{ feedback.rating }}</td>
        <td>
          <button (click)="triggerDelete(feedback.feedbackId)">Delete</button>
          <button (click)="navigateToEdit(feedback.feedbackId)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showDeletePopup" class="popup-overlay">
  <div class="popup">
    <p>Are you sure you want to delete this feedback?</p>
    <button (click)="confirmDelete()">Yes, Delete</button>
    <button (click)="closeDeletePopup()">Cancel</button>
  </div>
</div>

<div *ngIf="showLogoutPopup" class="popup-overlay">
  <div class="popup">
    <p>Are you sure you want to logout?</p>
    <button (click)="confirmLogout()">Yes, Logout</button>
    <button (click)="cancelLogout()">Cancel</button>
  </div>
</div>