<div class="container">
    <div class="card">
        <h2 class="header">Add Food</h2>
        <form [formGroup]="foodForm" (ngSubmit)="addFood()">
            <div class="form-group">
                <label for="foodName" class="label">Food Name:</label>
                <input type="text" class="input" id="foodName" formControlName="foodName">
                <div *ngIf="foodName.invalid && foodName.touched" class="error-message">
                    <span *ngIf="foodName.errors['required']">Food Name is required.</span>
                </div>
            </div>

            <div class="form-group">
                <label for="price" class="label">Price:</label>
                <input type="number" class="input" id="price" formControlName="price">
                <div *ngIf="price.invalid && price.touched" class="error-message">
                    <span *ngIf="price.errors['required']">Price is required.</span>
                    <span *ngIf="price.errors['min']">Price must be at least 1.</span>
                </div>
            </div>

            <div class="form-group">
                <label for="stockQuantity" class="label">Stock Quantity:</label>
                <input type="number" class="input" id="stockQuantity" formControlName="stockQuantity">
                <div *ngIf="stockQuantity.invalid && stockQuantity.touched" class="error-message">
                    <span *ngIf="stockQuantity.errors['required']">Stock Quantity is required.</span>
                    <span *ngIf="stockQuantity.errors['min']">Stock Quantity must be at least 1.</span>
                </div>
            </div>

            <div class="form-group">
                <label for="photo" class="label">Upload Photo:</label>
                <input type="file" class="input" id="photo" (change)="handleFileChange($event)">
            </div>

            <button type="submit" class="btn-submit">Submit</button>
        </form>


        <div *ngIf="successMessage" class="popup">

            <p>{{successMessage}}</p>
            <button (click)="closePopUp()" class="btn-ok">OK</button>
        </div>
    </div>
</div>

