<nav class="navbar">
  <div class="navbar-list">
    <div class="navbar-welcome user-section-inside">
      <li [routerLink]="['/user/profile']">
        Welcome {{userName}}/{{userRole}}
      </li>

    </div>
    <div class="navbar-item">
      <a class="navbar-link" [routerLink]="['admin/dashboard']">Dashboard</a>
    </div>
    <div class="navbar-dropdown">
      <a class="dropdown-toggle" >Food</a>
      <div class="dropdown-list">
        <div class="dropdown-item">
          <a class="dropdown-link" [routerLink]="['admin/addFood']">Add Food</a>
        </div>
        <div class="dropdown-item">
          <a class="dropdown-link" [routerLink]="['admin/view/foods']">View Food</a>
        </div>
      </div>
    </div>
    <div class="navbar-item orders-group ">
      <a class="navbar-link" [routerLink]="['admin/view/orders']">Orders Details</a>
      <a class="navbar-link" routerLink="/admin/ordersChart">Orders Chart</a>
    </div>
    <div class="navbar-item">
      <a class="navbar-link" [routerLink]="['admin/view/feedBack']">Feedbacks</a>
    </div>
    <div class="navbar-item">

    </div>
    <div class="navbar-item">
      <a class="logout-button" (click)="logout()" type="button">Logout</a>
    </div>
  </div>
</nav>