.navbar{
  display: flex;
  align-items: center;
  
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navbar-item, .navbar-dropdown {
  position: relative;
  margin: 0 15px;
}

.navbar-link, .dropdown-toggle {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  transition: background 0.3s ease-in-out;
  border-radius: 8px;
}

.navbar-link:hover, .dropdown-toggle:hover {
  background-color: rgba(219, 152, 71, 0.4);
}

.orders-group {
  display: flex;
  gap: 20px; /* Adds spacing between links */
  align-items: center;
}

.orders-group .navbar-link {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  transition: background 0.3s ease-in-out;
  border-radius: 8px;
}

.orders-group .navbar-link:hover {
  background-color: rgba(255, 140, 0, 0.4);
}


.user-section {
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-right: 20px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(255, 140, 0, 0.7);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 8px rgba(255, 140, 0, 0.5);
  display: none;
  flex-direction: column;
  border-radius: 8px;
  padding: 5px 0;
}

.dropdown-item {
  padding: 10px 20px;
}

.dropdown-link {
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}

.dropdown-link:hover {
  color: #333;
}

.navbar-dropdown:hover .dropdown-list {
  display: block;
}

.logout-button {
  text-decoration: none;
  background: rgba(255, 60, 60, 0.8);
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border: none;
}

.logout-button:hover {
  background: rgba(199, 40, 40, 0.9);
}
