

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navbar-item {
  position: relative;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  transition: background 0.3s ease-in-out;
}

.navbar-link:hover, .dropdown-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.user-section {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-right: 20px;
}

.logout-button {
  background-color: #ff3b3b;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.logout-button:hover {
  background-color: #c72828;
}
li{
  cursor: pointer;
}

.navbar-welcome{
  color: white !important;
}