<div class="container">
    <div>
        <h2>User Profile</h2>
    </div>
    <div>
        <table class="profile-table">
            <tbody class="profile-body">
                <tr>
                    <td><strong>Name:</strong></td>
                    <td>{{user.username }}</td>
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td>{{user.email }}</td>
                </tr>
                <tr>
                    <td><strong>Phone:</strong></td>
                    <td>{{ user.mobileNumber }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>