<div class="container">
    <h1>Food Details</h1>
    <div class="filters">
        <input type="text" placeholder="Search food by name" [(ngModel)]="searchName" (input)="filterFoods()" />
        <input type="number" placeholder="Min Price" [(ngModel)]="minPrice" (input)="filterFoods()" />
        <input type="number" placeholder="Max Price" [(ngModel)]="maxPrice" (input)="filterFoods()" />

        <button (click)="resetFilters()">Reset</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Food Name</th>
                <th>Price</th>
                <th>Stock</th> 
                <th>Action</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let food of filteredFoods">
                <td>{{ food.foodName }}</td>
                <td>{{ food.price }}</td>
                <td>{{ food.stockQuantity }}</td>
                <td>
                    <button [routerLink]="['/admin/edit/food',food.foodId]">Edit</button>
                    <button (click)="confirmDelete(food.foodId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>